
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    place-items: center;
    background-color: #151515;
    padding: 0 1rem;
}

.content {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background-color: #232323;

}

a {
    text-decoration: none;
    color: white;
}

h1 {
    padding-top: 5rem;
    font-size: 4rem;
    line-height: 1.2;
    text-shadow: 1px 1px black;
    padding-right: 1rem;
}

h1 > p {
    border-bottom: 1px white solid;
    width: fit-content;
    padding-right: 2rem;
    padding-left: 1rem;
}

b {
    opacity: 0.5;
    padding-left: 1rem;
    
}

.info {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}

.info-section > p:first-child {
    font-size: 1.4rem;
    opacity: 1;
}

.info-section > * {
    opacity: 0.7;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.link:hover a {
    text-decoration: underline;
}

.email:hover {
    color: greenyellow;
}

.github:hover {
    color: #6e5494;
}