
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    place-items: center;
    background-color: #151515;
    padding: 0 1rem;
}

.content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at left top,rgba(255, 255, 255, 0.1), #232323);

}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 4rem;
    line-height: 1.2;
    
}

.title > * {
    padding-left: 1rem;
}

.title > p {
    border-bottom: 1px white solid;
    width: fit-content;
    padding-right: 2rem;
    background: -webkit-linear-gradient(276.22deg, #00EF43 -3.9%, #0066FF 110.8%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title > b {
    opacity: 0.8;
    background: -webkit-linear-gradient(262.47deg, #0066FF -22.49%, #00EF43 112.92%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.info {
    display: flex;
    flex-direction: column;
}

.info-section > p:first-child,
.links > p,
.tools > p {
    font-size: 1.4rem;

}

.info-section > p:nth-child(2) {
    font-size: 1.3rem;
    opacity: 1;
    border-bottom: 1px solid white;
    margin: 0.5rem;
    padding: 0 .2rem;
}

.info-section > * {
    opacity: 0.7;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.link:hover a {
    text-decoration: underline;
}

.email > i {
    color: greenyellow;
}

.github > i{
    color: #6e5494;
}

.linkedin > i {
    color: #0A66C2;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}


.tools > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.tools img {
    max-width: 48px;
}

.title-hider {
    top: 5rem;
    left: -350px;
    position: absolute;
    z-index: 100;
    width: 350px;
    height: 200px;
    background-color: #151515;
}

.credit {
    font-style: italic;
    opacity: 0.7;
    font-size: 1rem;
    margin-top: -1rem;
}

.credit > a:hover {
    text-decoration: underline;
}
