
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    place-items: center;
    background-color: #151515;
    padding: 0 1rem;
}

.content {
    position: relative;
    max-width: 500px;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at left top,rgba(255, 255, 255, 0.1), #232323);

}

a {
    text-decoration: none;
    color: white;
}

h1 {
    padding-top: 5rem;
    font-size: 4rem;
    line-height: 1.2;
    padding-right: 1rem;
    -webkit-animation: slideIn 700ms forwards;
    animation: slideIn 700ms forwards;
}

h1 > p {
    border-bottom: 1px white solid;
    width: fit-content;
    padding-right: 2rem;
    padding-left: 1rem;
    background: -webkit-linear-gradient(276.22deg, #00EF43 -3.9%, #0066FF 110.8%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

b {
    opacity: 0.8;
    padding-left: 1rem;

    background: -webkit-linear-gradient(262.47deg, #0066FF -22.49%, #00EF43 112.92%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.info {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.5rem;
}

.info-section {
    -webkit-animation: fadeIn 500ms 750ms forwards;
    animation: fadeIn 500ms 750ms forwards;
    opacity: 0;
}

.info-section > p:first-child,
.links > p,
.tools > p {
    font-size: 1.4rem;
}

.info-section > p:nth-child(2) {
    font-size: 1.3rem;
    opacity: 1;
    border-bottom: 1px solid white;
    margin: 0.5rem;
    padding: 0 .2rem;
}

.info-section > * {
    opacity: 0.7;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    -webkit-animation: fadeIn 500ms 1250ms forwards;
    animation: fadeIn 500ms 1250ms forwards;
    opacity: 0;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.link:hover a {
    text-decoration: underline;
}

.email {
    color: greenyellow;
}

.github{
    color: #6e5494;
}

.tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
}

.tools > p {
    -webkit-animation: fadeIn 400ms 1600ms forwards;
    animation: fadeIn 400ms 1600ms forwards;
    opacity: 0;
}

.tools > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    -webkit-animation: fadeIn 400ms forwards;
    animation: fadeIn 400ms forwards;
    opacity: 0;
}

.tools img {
    max-width: 48px;
}

.title-hider {
    top: 5rem;
    left: -350px;
    position: absolute;
    z-index: 100;
    width: 350px;
    height: 200px;
    background-color: #151515;
}

/*ANIMATIONS*/

@keyframes slideIn {
    0% {
        -webkit-transform: translateX(-350px);
    } 100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    } to {
        opacity: 1;
        -webkit-transform: none;
    }
}