

.error-msg {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.error-msg > h1 {
    background: -webkit-linear-gradient(276.22deg, #00EF43 -3.9%, #0066FF 110.8%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.5rem;
}

.error-msg > h2 {
    margin-top: -2rem;
}

.error-msg > p {
    margin-top: 1rem;
    font-style: italic;
    font-size: 1.1rem;
    color: #ffffffa9;
}

.error-msg a {
    background: -webkit-linear-gradient(276.22deg, #00EF43 -3.9%, #0066FF 110.8%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

.error-msg a:hover {
    text-decoration: underline;
}