@media (min-width: 750px) {
 
    .content {
        display: grid;
        grid-template-columns: 3fr 2fr;

    }

    .about {
        background-color: #232323;
    }

    .about-link:hover b {
        text-decoration: underline;
    }

    .about-desktop {
        display: block;
        width: 70%;
        font-size: 1.4rem;
        padding: 0rem 2rem;
        margin-top: 1.5rem;
        color: #ffffffa5;
    }

    .about-desktop b {
        color: #ffffff;
    }

    .title {
        padding-top: 5rem;
        font-size: 5rem;
        padding-bottom: 2rem;
    }

    .info {
        margin-top: 4rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }

    .links {
        display: none;
    }
}