
@media (max-width: 750px) {

    .about-desktop {
        display: none;
    }

    .content {
        max-width: 650px;
    }

    .title {
        padding-top: 5rem;
        padding-right: 1rem;
        -webkit-animation: slideIn 700ms forwards;
        animation: slideIn 700ms forwards;
    }

    .title > p {
        -webkit-animation: titleText 1500ms infinite;
        animation: titleText 1500ms infinite;
    }

    .title > b {
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .info {
        margin-top: 4rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 3.5rem;
    }

    .info-section {
        -webkit-animation: fadeIn 500ms 750ms forwards;
        animation: fadeIn 500ms 750ms forwards;
        opacity: 0;
    }

    .links {
        display: block;
        -webkit-animation: fadeIn 500ms 1250ms forwards;
        animation: fadeIn 500ms 1250ms forwards;
        opacity: 0;
    }

    .tools > p {
        -webkit-animation: fadeIn 400ms 1600ms forwards;
        animation: fadeIn 400ms 1600ms forwards;
        opacity: 0;
    }

    .credit {
        -webkit-animation: fadeIn 400ms 1600ms forwards;
        animation: fadeIn 400ms 1600ms forwards;
        opacity: 0;
    }

    .tools > div {
        -webkit-animation: fadeIn 400ms forwards;
        animation: fadeIn 400ms forwards;
        opacity: 0;
    }

}

/*ANIMATIONS*/

@keyframes slideIn {
    0% {
        -webkit-transform: translateX(-350px);
    } 100% {
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    } to {
        opacity: 1;
        -webkit-transform: none;
    }
}

@keyframes titleText {
    0% {
        opacity: 1;
    } 50% {
        opacity: 0.9;
    } 100% {
        opacity: 1;
    }
}