

// variables

$bg-primary: #131313;
$bg-primary--light: white;

$bg-secondary: #202020;
$bg-secondary--light: #bfb8b8;




// colouring

$block-colour: #00a2ff;
$title-colour: white;


// sizing

$size-tablet: 400px;

$size-desktop: 950px;