@use "../util/index" as *;

.projects-wrapper {
  height: fit-content;
  background-color: $bg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 5px;
  padding-bottom: 1rem;

  >h1 {
    color: #00a2ff;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1rem;
  }
}

.projects {
  height: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $bg-secondary;
  width: 100%;
  border-radius: 10px;
  background-image: radial-gradient(circle at left top, rgba(0, 0, 0, 0.2), $bg-secondary);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.project-card {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: 320px;
  max-width: 400px;
  margin: 1rem;
  background-color: darken($bg-secondary, 5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  cursor: pointer;
  text-decoration: none;

  >div:first-child {
    background-color: lighten($bg-secondary, 5);
    border-radius: 10px 10px 0 0;
    width: 100%;
    overflow-y: hidden;
  }

  >h2 {
    color: white;
    background-color: $bg-primary;
    padding: 0.5rem;
    text-align: center;
  }

  >p {
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: #242424;
    min-height: 150px;

    >b {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  >.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 10px;

    >img {
      width: 30px;
    }
  }

  &.url {

    >h2,
    >p>b {
      color: green;
    }

    > div:first-child {overflow-x: hidden;}

    .url-anim {
      width: 10px;
      height: 20px;
      background-color: red;
      border-radius: 4px;
      animation: url-anim 3.5s infinite linear;
      margin: 1rem 0;
    }
  }


  &.gitto>h2,
  &.gitto>p>b {
    color: #ff6b00;
  }

  &.aad>h2,
  &.aad>p>b {
    color: #0665f5;
  }

}



// animations

@keyframes url-anim {
  0% {
    width: 150px;
    transform: translateX(-200px);
  }

  40% {
    width: 150px;
    transform: translateX(50px);
  }

  60% {
    background-color: green;
    width: 50px;
    transform: translateX(50px);
  }

  100% {
    transform: translateX(350px);
    background-color: green;
    width: 50px;
  }
}

@media screen and (min-width: $size-desktop) {
  .projects-wrapper {
    padding: 15px;
  }

  .projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-x: scroll;
    scroll-snap-type: none;
  }

}