@use "../util/index" as *;

.projects-wrapper {
  height: fit-content;
  background-color: $bg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  padding: 5px;
  padding-bottom: 1rem;

  >h1 {
    color: #00a2ff;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1rem;
  }
}

.projects {
  height: 100;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: $bg-secondary;
  width: 100%;
  border-radius: 10px;
  background-image: radial-gradient(circle at left top, rgba(0, 0, 0, 0.2), $bg-secondary);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.project-card {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-width: 320px;
  max-width: 400px;
  margin: 1rem;
  background-color: darken($bg-secondary, 5);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  cursor: pointer;
  text-decoration: none;

  >div:first-child {
    background-color: lighten($bg-secondary, 5);
    border-radius: 10px 10px 0 0;
    width: 100%;
    overflow-y: hidden;
  }

  >h2 {
    color: white;
    background-color: $bg-primary;
    padding: 0.5rem;
    text-align: center;
  }

  >p {
    padding: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: #242424;

    > b {
      color: rgba(255,255,255,0.8);
    }
  }

  > .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 10px;

    > img {
      width: 30px;
    }
  }

  &.gitto > h2, &.gitto > p > b {
    color: #ff6b00;
  }

  &.aad > h2, &.aad > p > b {
    color: #0665f5;
  }
}

// .project-card {
//   border-radius: 6px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   width: fit-content;
//   place-self: center;
//   cursor: pointer;
//   width: 90%;
//   max-width: 325px;
//   height: 100px;
//   display: flex;
//   flex-direction: column;
//   overflow: hidden;
//   background-color: #202020;
//   position: relative;
//   margin-top: 1rem;

//   >.project-card-header {
//     display: grid;
//     grid-template-columns: 3fr 1fr;
//     position: relative;
//     width: 100%;

//     >div:first-child {
//       background-color: #242424;
//     }

//     >h2 {
//       background-color: #131313;
//       padding: 0.5rem 0;
//       font-size: min(120%, 50px);
//       width: 100%;
//       text-align: center;
//     }
//   }

//   &:last-child {
//     margin-bottom: 1rem; 
//   }

//   >p {
//     color: rgba(255, 255, 255, 0.59);
//     padding: 0.5rem 0.5rem;
//     font-size: 0.9rem;
//     font-style: italic;
//     position: absolute;
//     background-color: #202020;
//     top: 37px;
//     height: 50px;
//     width: 95%;
//     max-width: 500px;
//     z-index: 100;

//     >b {
//       color: white;
//       font-size: 0.8rem;
//     }

//     >a {
//       text-decoration: none;
//       color: rgb(97, 97, 244);

//       &:hover {text-decoration: underline;}
//     }
//   }

//   >img {
//     padding: 1rem;
//     background-color: white;
//     object-fit: cover;
//     width: 100%;
//   }


//   // custom cards

//   &.gitto>.project-card-header {

//     img {
//       width: 80px;
//     }

//     >h2 {
//       color: #ff6b00;
//     }

//   }

//   &.aad>.project-card-header {

//     img {
//       margin: 0 0.25rem;
//     }

//     >h2 {
//       color: #004cbe;
//     }
//   }

//   &.url-shorten>.project-card-header {

//     >div {
//       display: flex;
//       align-items: center;
//       overflow-x: hidden;
//     }

//     .url-animation {
//       width: 10px;
//       height: 20px;
//       background-color: red;
//       border-radius: 4px;
//       animation: url-anim 3.5s infinite linear;
//     }

//     >h2 {
//       color: green;
//     }
//   }
// }


.open-project-card {
  position: absolute;
  background-color: white;
  top: 40%;
  backdrop-filter: blur(10px);
  max-width: 80%;
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.1;
  position: absolute;
}


// animations

@keyframes url-anim {
  0% {
    width: 150px;
    transform: translateX(-200px);
  }

  40% {
    width: 150px;
    transform: translateX(50px);
  }

  60% {
    background-color: green;
    width: 50px;
    transform: translateX(50px);
  }

  100% {
    transform: translateX(250px);
    background-color: green;
    width: 50px;
  }
}

@media (min-width: 800px) {
  .projects-wrapper {
    padding: 15px;
  }

  .projects {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;

  }

}