@use "../util/index" as *;

.tech-stack {
	width: 100vw;
	background-color: $bg-secondary;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	.front-end, .other, .back-end {
		width: 100%;
		max-width: 800px;
		position: relative;
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;

		> div {
			margin: 1rem;
			min-width: 220px;	
			max-width: 400px;	
			font-size: large;	
		}
	}

	.front-end {
		margin-top: 2rem;
	}

	.back-end {
		direction: rtl;
	}

	h2 {
		color: #00a2ff;
	}

	p {
		color: rgb(107, 107, 107);
		font-style: italic;
		margin-top: 0.5rem;

		>b {
			color: rgb(150, 150, 150);
		}
	}
}

// @media (min-width: $size-tablet) {
// 	.tech-stack {

// 		.frontend,
// 		.backend,
// 		.other {
// 			width: 250px;
// 		}

// 		.backend {}

// 		img {
// 			position: absolute;

// 			&:nth-child(1) {
// 				right: 1rem;
// 				top: 30px;
// 			}

// 			&:nth-child(2) {
// 				left: 1rem;
// 				top: 300px;
// 			}

// 			&:nth-child(3) {
// 				right: 1rem;
// 				top: 600px;
// 			}
// 		}
// 	}
// }