@use "../util/index" as *;

.tech-stack-wrapper {
	background-color: $bg-primary;
	padding: 5px;
}

.tech-stack {
	border-radius: 10px;
	width: 100%;
	background-color: $bg-secondary;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: radial-gradient(circle at left top,rgba(0, 0, 0, 0.2), $bg-secondary);;

	.front-end, .other, .back-end {
		width: 100%;
		max-width: 800px;
		position: relative;
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;

		> div:first-child {
			margin: 1rem;
			min-width: 220px;	
			max-width: 400px;	
			font-size: large;	
		}
	}

	.front-end {
		margin-top: 2rem;
	}

	.back-end {
		direction: rtl;
	}

	h2 {
		color: #00a2ff;
	}

	p {
		color: rgb(107, 107, 107);
		font-style: italic;
		margin-top: 0.5rem;

		>b {
			color: rgb(150, 150, 150);
		}
	}
}

@media (min-width: $size-tablet) {
	.tech-stack-wrapper {
		padding: 15px;
	}
}
