
@use "../util/index" as *;

.bg-wrapper {
    align-self: flex-start;
}

.tom-smith {
    background-color: $bg-primary;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    
    svg {
        
        position: absolute;
        z-index: 100;
        animation: fill-name 1s 3s forwards ease;
        cursor: pointer;
        max-width: 800px;
        padding: 0rem 2rem;
    }

    path {
        stroke: $title-colour;
        animation: line-in 5s ease forwards;
    }

    p {
        position: absolute;
        font-style: italic;
        color: rgb(164, 164, 164);
        z-index: 100;
    }
}

@media (max-width: 500px) {
    .tom-smith p {
        margin-top: 5rem;
        font-size: 1.4rem;
    }
}

@media (min-width: 500px) {
    .tom-smith p {
        margin-top: 11rem;
        font-size: 1.8rem;
    }
}

@keyframes line-in {
    to {stroke-dashoffset: 0;}
}

@keyframes fill-name {
    from {fill: transparent}
    to {fill: $title-colour}
}

.square {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $block-colour;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
