
* {
    margin: 0;
    padding: 0;
}

.app {
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgb(255, 0, 34), rgb(216, 28, 141));
    display: grid;
    place-items: center;
}

.box {
    background-color: white;
    width: 400px;
    aspect-ratio: 1;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}