
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgb(255, 0, 34), rgb(216, 28, 141));
    display: grid;
    place-items: center;
}